<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songjin.usum" >

    <permission
        android:name="com.songjin.usum.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- c. android:name="{package 이름}.permission.C2D_MESSAGE" 사용 -->
    <uses-permission android:name="com.songjin.usum.permission.C2D_MESSAGE"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <!--<receiver-->
            <!--android:name=".gcm.GCMRedirectedBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->

                <!-- Receives the actual messages. -->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!-- Receives the registration id. -->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.songjin.usum" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
<!---->
        <!--<service android:name=".gcm.GCMIntentService" />-->



        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 구현해야 하는 class1 -->
        <receiver
            android:name=".gcm.GCMRedirectedBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!-- d. android:name="{package 이름}" 사용 -->
                <category android:name="com.songjin.usum.push" />
            </intent-filter>
        </receiver>
        <!-- 구현해야 하는 class2 -->
        <service android:name=".gcm.GCMIntentService"/>

        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <meta-data android:name="com.kakao.sdk.GcmProjectId"
            android:value="@string/gcm_project_number"/>




        <receiver android:name="com.songjin.usum.reservation.ReservationPushBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.songjin.usum.reservation.ReservationPushService" />

        <receiver android:name="com.songjin.usum.reservation.SchoolRankingPushBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.songjin.usum.reservation.SchoolRankingPushService" />

        <!-- kakao -->
        <activity
            android:name="com.kakao.LoginActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- App -->
        <activity
            android:name=".controllers.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.activities.SignUpActivity"
            android:theme="@style/AppThemeNoTitleBarFullscreen" />
        <activity android:name=".controllers.activities.MainActivity" />
        <activity android:name=".controllers.activities.TimelineDetailActivity" />
        <activity android:name=".controllers.activities.TimelineWriteActivity" />
        <activity
            android:name="nl.changer.polypicker.ImagePickerActivity"
            android:theme="@android:style/Theme.Holo" />
        <activity android:name=".controllers.activities.TimelineActivity" />
        <activity
            android:name=".controllers.activities.AddProductsActivity"
            android:label="@string/title_activity_add_products" />
        <activity
            android:name=".controllers.activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail" />
        <activity
            android:name=".controllers.activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" />
        <activity
            android:name=".controllers.activities.PhotoViewActivity"
            android:label="@string/title_activity_photo_view"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".controllers.activities.SupportActivity"
            android:label="@string/title_activity_support" >
        </activity>
        <activity
            android:name=".controllers.activities.FaqActivity"
            android:label="@string/title_activity_faq" >
        </activity>
        <activity
            android:name=".controllers.activities.SupportCompletedActivity"
            android:label="@string/title_activity_support_completed" >
        </activity>
        <activity
            android:name=".controllers.activities.AlarmActivity"
            android:label="@string/title_activity_alarm" >
        </activity>

    </application>

</manifest>
